.wrapper {
	display: grid;
	grid-template-columns: minmax(20px, auto) 270px minmax(320px, 1200px) minmax(20px, auto);
	grid-template-rows: auto 1fr auto;
	gap: 40px 30px;
	min-height: 100vh;
	grid-template-areas:
		". header header ."
		". sidebar body ."
		"footer footer footer footer";
	background-color: var(--background);
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-area: body;
	outline: none;
}

.footer {
	grid-area: footer;
}

.skipLink {
	display: block;
	position: fixed;
	left: 100px;
	top: 0;
	overflow: hidden;
	height: 0;
	background: var(--primary);
	color: var(--white);
}

.displayed {
	height: auto;
}

@media (max-width: 1689px) {

	.wrapper {
		grid-template-columns: 20px 270px minmax(320px, 1200px) 20px;
		grid-template-rows: auto 1fr auto;
		gap: 40px 30px;
		min-height: 100vh;
	}

}

@media (max-width: 879px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
		margin: auto;
		gap: 10px;
	}

	.sidebar {
		display: none;
	}

	.body {
		padding: 15px;
	}
}