.footer {
	display: grid;
	grid-template-areas: ". copyright . agreement policy .";
	grid-template-columns: 0 max-content auto max-content max-content 0;
	align-content: center;
	height: 72px;
	padding: 15px 0;
	background: var(--primary);
	color: var(--white);
	text-align: center;
	gap: 10px 40px;
}

.copyright {
	grid-area: copyright;
}

.agreement {
	grid-area: agreement;
}

.policy {
	grid-area: policy;
}

@media (max-width: 996px) {
	.footer {
		grid-template-areas: "copyright agreement policy";
		grid-template-columns: max-content max-content max-content;
		justify-content: space-around;
		gap: 0 10px;
	}
}

@media (max-width: 879px) {
	.footer {
		grid-template-areas:
			"copyright"
			"agreement"
			"policy";
		grid-template-columns: 1fr;
		padding: 20px 0;
	}
}
