.star svg {
	margin-right: 5px;
}

.star {
	display: inline-block;
}

.editable {
	cursor: pointer;
}

.error {
	position: relative;
}

.error svg {
	stroke: var(--red);
	opacity: 0.6;
	fill: var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -22px;
	left: 0;
	color: var(--red);
}

.filled svg {
	outline: none;
	stroke: none;
	opacity: 1;
	fill: var(--primary);
}
