.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	margin-top: 20px;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondBlock {
	margin: 15px 0 0 12px;
	padding-left: 25px;
	padding-bottom: 5px;
	border-left: 1px solid var(--grey-dark);
}

.secondLevelBlock {
	overflow: hidden;
	white-space: nowrap;
}

.secondLevel {
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--grey-dark);
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
}

.secondLevel:hover {
	color: var(--primary);
}

.thirdLevel {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--grey-dark);
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	max-width: 260px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}