.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	align-items: center;
	margin-top: 20px;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	gap: 20px;
}

.firstLevelList {
	padding: 0;
	list-style: none;
}

.firstLevelActive,
.firstLevel:hover {
	color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg {
	fill: var(--primary);
}

.secondBlock {
	margin: 15px 0 0 12px;
	padding: 0 0 5px 25px;
	border-left: 1px solid var(--grey-dark);
	list-style: none;
}

.secondLevelBlock {
	padding: 0;
	overflow: hidden;
	list-style: none;
	white-space: nowrap;
}

.secondLevel {
	margin-bottom: 10px;
	padding: 0;
	border: none;
	outline-offset: -1px;
	background: none;
	color: var(--grey-dark);
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
}

.secondLevel:hover {
	color: var(--primary);
}

.thirdLevel {
	display: block;
	max-width: 260px;
	margin-bottom: 10px;
	overflow: hidden;
	outline-offset: -1px;
	color: var(--grey-dark);
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
}

.thirdLevelActive,
.thirdLevel:hover {
	color: var(--primary);
}
