html,
body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	background: var(--background-html);
	color: var(--font-color);
	font-family: var(--font-family);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.visuallyHidden {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
}

:root {
	--black: #3B434E;
	--grey: #A4A4A4;
	--grey-light: #EBEBEB;
	--grey-dark: #6c7077;
	--white: white;
	--primary: #7351f5;
	--primary-hover: #5d3ae9;
	--red: #FC836D;
	--red-light: #f9b6aa;
	--green: #007b48;
	--green-light: #C8F8E4;
	--background: #F5F6F8;
	--background-html: #e5e5e5;
	--background-card: #fff;
	--background-card__blue: #F9F8FF;
	--font-family: "Noto Sans", sans-serif;
	--font-color__nodark: #3B434E;
	--font-color: #3B434E;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	:root {
		--background: #2c2e31;
		--grey-dark: #d9d9d9;
		--background-html: #191c20;
		--background-card: #3B434E;
		--background-card__blue: #343f4f;
		--font-color: #e1e1e1;
	}
}